
<h1>Currency Convertor</h1>
<div class="container">
  <div class="row my-3">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">From:</label>
        <select name="" id="" [(ngModel)]="basecurrency" class="form-control">
          <option [value]="curr" *ngFor="let curr of currencyCode" class="form-control">
          {{curr}}</option>
        </select>
        <input type="number" class="form-control my-3" [(ngModel)]="amount">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">To:</label>
        <select name="" id="" [(ngModel)]="targetCurrency" class="form-control">
          <option [value]="curr" *ngFor="let curr of currencyCode" class="form-control">
          {{curr}}</option>
        </select>
        <input type="text" class="form-control my-3" [(ngModel)]="result">
      </div>
    </div>
  </div>
  <button class="btn btn-success" (click)="convertCurrency()">Convert</button>
</div>

